body {
	background-color: #aaaaaa;
}

li {
	list-style-type: none;
}

.imagesSource {
	display: none;
}

.canvasHolder {
	top:-70px;
	position: absolute;
}

.canvasHolder canvas {
	/*border: 1px solid red;*/
}

#mouse {
	background:green;
	opacity:0.65;
	position:absolute;
	color: White;
	text-align: center;
	font-weight: bold;
	z-index: 100;
}
